<label [attr.for]="formControlName" class="form-label">{{ label }}</label>

<ng-select
    [id]="formControlName"
    [formControl]="control"
    (change)="onChange($event)"
    [items]="itens" 
    bindLabel="label" 
    bindValue="value"
    notFoundText="Não localizado" 
    >
</ng-select>

<form-field-error [form-control]="control"></form-field-error>