<div class="form-group">
  <label [attr.for]="formControlName" class="control-label">{{ label }}</label>
  <div class="input-group flex-nowrap">
    <textarea class="form-control" id="exampleFormControlTextarea1" [rows]=numberLines [id]="formControlName"
      [formControl]="control" style="resize: none;" [readonly]="isReadOnly" ></textarea>
  </div>
  <form-field-error [form-control]="control"></form-field-error>
</div>
