<label [attr.for]="formControlName" class="form-label">{{ label }}</label>
<select
    class="form-select"
    [id]="formControlName"
    [formControl]="control"
    (change)="onChange($event.target.value)"
    >
    <option value=""></option>
    <option *ngFor="let item of itens" value="{{item.value}}">
        {{item.label}}
    </option>
    <!-- [readonly]="isReadOnly" -->
</select>
<form-field-error [form-control]="control"></form-field-error>