<div class="row border1Dev rounded-lg">
  <div class="row">
    <div class="col col-1 ">
      <img [src]="getLogoAssociacao()" class="img-fluid" alt="...">
    </div>
    <div class="col1Dev col-3">
      <strong>{{ evento.dados.nomeassociacao }}</strong>
    </div>
    <div class="col1Dev col-2">
      <small>Associado: {{ evento.dados.nomeassociado }}</small>
    </div>
    <div class="col1Dev col-2">
      <small>Evento: {{evento.dados.numeroevento}}</small>
    </div>
    <div class="col1Dev col-2">
      <small>Origem: {{evento.dados.origem}}</small>
    </div>
    <div class="col1Dev col-1">
      <small>Placa: {{ veiculo.placa }}</small>
    </div>
    <div class="col col-1">
      <small>
        <button type="button" class="btn btn-outline-primary" (click)="opemModalAnexos(modalAnexo)" >
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
          <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
          <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
          </svg>
        </button>
      </small>
    </div>
</div>
</div>

<div class="row mt-2">
  <div class="col text-center">
    <img src="{{getImageMarca()}}"  width="7%" > <small class="smallDev">{{veiculo.getDescricao()}}</small>
  </div>
</div>


<ng-template #modalAnexo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Anexos</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let anexo of evento.dados.anexo">
        <div class="col">
          <div class="card">
            <img [src]="getImageBase64(anexo)" class="card-img-top">
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>