.col-1{
    max-width: 512px;
}
.border1Dev{
    border-radius:5px; /*1*/
    border: 0.5px solid #BEBEBE; /*2*/
    /*background:linear-gradient(45deg,rgb(254, 255, 246),rgb(246, 251, 255)) border-box; /*3*/
    background-color: #f0f0f0;  
    display: flex;
    align-items: center;
}
.border1Dev .row{
    display: flex;
    align-items: center;
    padding: 5px;
    
}

small{
    color: black;
    font-size: 15px;
}
.smallDev{
    font-size: 19px !important;
}