<div class="custom-control custom-checkbox">
  <input
    type="checkbox"
    class="custom-control-input"
    [id]="formControlName"
    [formControl]="control"
    [readonly]="isReadOnly">
    <label [attr.for]="formControlName" class="custom-control-label">{{ label }}</label>
  <form-field-error [form-control]="control"></form-field-error>
</div>

