<label [attr.for]="formControlName" class="form-label">{{ label }}</label>
<input
[type]="type"
class="form-control"
[id]="formControlName"
[formControl]="control"
[readonly]="isReadOnly"
[placeholder]="label"
mask ="{{mask}}">
<form-field-error [form-control]="control"></form-field-error>