.formDev{
    /*margin-top: 10%;*/
    box-shadow: #d1d1d1 0px 5px 15px;   
}
.imageDev{
    background-image: url(/assets/Siga.png);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    /* padding: 7% 15%; */
    /* top: -10%; */
    position: relative;
    padding-left: 210px;
    padding-right: 2rem;
    background-position-y: -23px;
    background-size: 160px;
    
}
.colDev{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.btnDev{
    background-color: #1F91F3;
    color: white;
}