<ng-template [ngIf]="validarVeiculo" [ngIfElse]="iniciarOrcamento">
  <div class="imageDev mt-2 pt-3">

    <form [formGroup]="resourceForm" (submit)="submitForm()" class="formDev">
      <div class="card">

        <div class="card-header">
          Dados do Veículo
        </div>

        <div class="card-body">

          <app-spinner [showSpinner]="showSpinner"></app-spinner>

          <div class="row">
            <div class="col">
              <app-input-field [type]="'text'" [label]="'Placa'" [formControlName]="'placa'" [isReadOnly]="true">
              </app-input-field>
            </div>
            <div class="col" formGroupName="marca">
              <generic-smart-search-field [form-group]="resourceForm.get('marca')" [label]="'Marca'" [itens]="marcas"
                [isReadOnly]="desableMarca">
              </generic-smart-search-field>


            </div>
            <div class="col" formGroupName="geracao">
              <generic-smart-search-field [form-group]="resourceForm.get('geracao')" [label]="'Geração'"
                [itens]="geracoes" [isReadOnly]="desableGeracao">
              </generic-smart-search-field>
            </div>

            <!-- <div class="col">
              <label for="codigo" class="form-label">Modelo</label>
              <input type="text" class="form-control" id="modelo" formControlName="modelo" [readonly]="desableModelo">
  
              <form-field-error [form-control]="resourceForm.get('modelo')"></form-field-error>
            </div> -->

          </div> 

          <div class="row">
            <div class="col" formGroupName="modelo">
              <generic-smart-search-field [form-group]="resourceForm.get('modelo')" [label]="'Modelo'" [itens]="modelos"
                [isReadOnly]="desableModelo">
              </generic-smart-search-field>
            </div>
            <div class="col" formGroupName="versao">
              <generic-smart-search-field [form-group]="resourceForm.get('versao')" [label]="'Versão'" [itens]="versoes"
                [isReadOnly]="desableVersao">
              </generic-smart-search-field>
            </div>
            <div class="col" formGroupName="veiculo">
              <generic-smart-search-field [form-group]="resourceForm.get('veiculo')" [label]="'Ano Modelo'" [itens]="veiculos"
                [isReadOnly]="desableVeiculo">
              </generic-smart-search-field>
            </div>
          </div>

          
          
        
      

          <!-- <div class="row">
  
          <div class="col-md">
            <label for="codigo" class="form-label">Ano Fabricação</label>
            <input type="text" class="form-control" id="idAnoFabricacao" formControlName="anoFabricacao" [readonly]="desableRead">
  
            <form-field-error [form-control]="resourceForm.get('anoFabricacao')"></form-field-error>
          </div>
  
          <div class="col-md">
            <label for="codigo" class="form-label">Ano Modelo</label>
            <input type="text" class="form-control" id="idAnoModelo" formControlName="anoModelo" [readonly]="desableRead">
  
            <form-field-error [form-control]="resourceForm.get('anoModelo')"></form-field-error>
          </div>
  
        </div> -->

          <div class="row">
            <div class="col colDev">
              <button [disabled]="resourceForm.invalid" type="submit"
                class="btn btnDev bg-teal btn-md mt-3">Confirmar</button>


              <button type="button" [disabled]="resourceForm.invalid" (click)="alterarDados()"
                style="background-color: rgb(255, 180, 40); color: white;" class="btn  btn-md mt-3">Alterar</button>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>
</ng-template>

<ng-template #iniciarOrcamento>
  <app-orcamento [veiculo]="resource" [configuracao]="configuracao" [evento]="currentEvento" ></app-orcamento>
</ng-template>

