<app-loader></app-loader>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-0" *ngIf="logado | async">
    <app-sidenavbar class="p-0"></app-sidenavbar>
    </div>
    <div class="{{(logado | async)?'col-10':'col-12'}}">
      <router-outlet></router-outlet>
    </div>
  </div>






