<label [attr.for]="formControlName" class="control-label">{{ label }}</label>
<div class="input-group flex-nowrap">
  <input type="percent" class="form-control" [id]="formControlName" [formControl]="control" [readonly]="isReadOnly">
  <span class="input-group-text" id="addon-wrapping">%</span>
</div>
<form-field-error [form-control]="control"></form-field-error>