<label [attr.for]="formControlName" class="control-label">{{ label }}</label>
<input
type="time"
min="00:00"
max="23:59"
class="form-control"
[id]="formControlName"
[formControl]="control"
[value]="value"
[readonly]="isReadOnly">
<form-field-error [form-control]="control"></form-field-error>