/*.containerDev{
    width: 420px;
    height: 150px;

    display:inline-flexbox;
    align-items: center;
    justify-content: center;
}
.btn {
    background-color:#B5D334;
}
.btn-ContinuarDev{
    color: white;
}*/


#modalAlterarSenha.modal {
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
}


#modalAlterarSenha label{
display: inline-block!important;
min-width: 130px;
text-align: right;
}

#modalAlterarSenha small{
  display: block;
  text-align: center;
}
