<!--<form [formGroup]="resourceFrom" (submit)="submit()" class="form">

  <div class="containerDev">
      <div class="row row-6">
        <input type="text" class="form-control" formControlName="placa" placeholder="Placa" >
      </div>
      <div class="row row-6">
        <input type="text" class="form-control" formControlName="sinistro" placeholder="Sinistro" >
      </div>
      <div class="row">
        <button type="submit" class="btn btn-light btn-ContinuarDev">Continuar</button>
      </div>
  </div>


  </form> -->
  <body cz-shortcut-listen="true">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
          <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="text-center my-5">
              <img src="/assets/sigaParts.png" alt="logo" width="200">
            </div>
            <div class="card shadow-lg">
              <div class="card-body p-5">
                <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                <form (submit)="login()" class="needs-validation" [formGroup]="formGroup" novalidate="" autocomplete="off">
                  <div class="mb-3">
                    <label class="mb-2 text-muted" for="email">Digite seu Login</label>
                    <input [(ngModel)]="email" id="email" type="email" class="form-control" name="email" value="" required autofocus="" formControlName="email">
                    <small class="text-danger" *ngIf="(formGroup.controls.email.touched || formSubmitAttempt || esqueceuSenha)  && formGroup.get('email').hasError('required')">
                      Email é necessário
                      </small>
                      <small class="text-danger" *ngIf="(formGroup.controls.email.touched || formSubmitAttempt || esqueceuSenha) && formGroup.get('email').hasError('email')">
                      Email inválido
                      </small>

                  </div>

                  <div class="mb-3">
                    <div class="mb-2 w-100">
                      <label class="text-muted" for="password" >Digite a senha</label>
                      <a href="javascript:void(0)" class="float-end" (click)="esqueciSenha()">
                        Esqueceu a senha?
                      </a>
                    </div>
                    <input [(ngModel)]="password" id="password" type="password" class="form-control" name="password" required="" formControlName="password">
                      <small class="text-danger"
                      *ngIf="(formGroup.controls.password.touched || formSubmitAttempt)  && formGroup.get('password').hasError('required')">
                      Senha é necessário
                      </small>
                  </div>

                  <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary ms-auto">
                      Entrar
                    </button>
                  </div>
                </form>
              </div>

            </div>
            <div class="text-center mt-5 text-muted">
               Sistema Siga Parts - 2022
            </div>
          </div>
        </div>



     <div id="modalAlterarSenha" class="modal fade show" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAlterarSenha}" data-backdrop="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="needs-validation" [formGroup]="formGroupSenha" novalidate="" autocomplete="off">
            <div class="modal-header">
              <h3 class="modal-title">Recuperação de acesso</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Para realizar o cadastro da sua nova senha de acesso informe os dados abaixo:<br>
              <label>Token</label>
              <input [(ngModel)]="modelSenha.token" formControlName="token" type="tel" id="token" class="swal2-input" placeholder="Token" autocomplete="off" autofocus="">
              <small class="text-danger" *ngIf="(formGroupSenha.controls.token.touched || formSubmitSenha)  && formGroupSenha.get('token').hasError('required')">
                Token é necessário
                </small>

              <label>Nova senha</label>
              <input [(ngModel)]="modelSenha.senha"  formControlName="senha" type="password" id="senha" class="swal2-input" placeholder="Senha" autocomplete="off">
              <small class="text-danger" *ngIf="(formGroupSenha.controls.senha.touched || formSubmitSenha)  && formGroupSenha.get('senha').hasError('required')">
                Senha é necessário
                </small>
                <small class="text-danger" *ngIf="(formGroupSenha.controls.senha.touched || formSubmitSenha)  && formGroupSenha.get('senha').errors?.minlength">
                Senha requer ao menos 6 caracteres
                </small>
                <small class="text-danger" *ngIf="checkValidateSenha(1)">
                  Senha requer ao menos uma letra Maíuscula
                  </small>
                <small class="text-danger" *ngIf="checkValidateSenha(2)">
                    Senha requer ao menos uma letra Maíuscula
                </small>
                <small class="text-danger" *ngIf="checkValidateSenha(3)">
                  Senha requer ao menos um número
                </small>
                <small class="text-danger" *ngIf="checkValidateSenha(4)">
                  Senha requer ao menos um caractere especial
                </small>

              <label>Confirma senha</label>
              <input [(ngModel)]="modelSenha.senha_confirma"  formControlName="senha_confirma" type="password" id="senha_confirma" class="swal2-input" placeholder="Senha" autocomplete="off">
              <small class="text-danger" *ngIf="(formGroupSenha.controls.senha_confirma.touched || formSubmitSenha)  && formGroupSenha.get('senha_confirma').hasError('required')">
                Confirmação de senha necessária
                </small>
              <small class="text-danger" *ngIf="(formGroupSenha.controls.senha_confirma.touched || formSubmitSenha)  && modelSenha.senha!=modelSenha.senha_confirma && !formGroupSenha.get('senha_confirma').hasError('required')">
                  A senha e a confirmação não são iguais
              </small>

            </div>

            <div class="modal-footer text-center">
              <div class="container text-center">
              <button type="submit" class="btn btn-success" (click)="setNovaSenha()">Gravar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCloseModal()">Cancelar</button>
              </div>
            </div>
        </form>
        </div>
      </div>
    </div>


      </div>
    </section>
  </body>
