    <div class="imageDev mt-2 pt-3">
  
      <form [formGroup]="resourceForm" (submit)="submitForm()" class="formDev">
        <div class="card">
  
          <div class="card-header">
            Dados da empresa
          </div>
  
          <div class="card-body">

            <div class="row">
              <div class="col-12"><h4 class="titulo_seccao">Identificação</h4></div> 
              <div class="col-6">
                <app-input-field [type]="'text'" [label]="'Nome/Razão Social'" [formControlName]="'name'" [isReadOnly]="isReadOnly">
                </app-input-field>
              </div>
              <div class="col-6">
                <app-input-field [type]="'text'" [label]="'Nome Fantasia'" [formControlName]="'companyName'" [isReadOnly]="isReadOnly">
                </app-input-field>
              </div>
              <div class="col-3">
                <app-input-field [type]="'text'" [mask]="'00.000.000/0000-00'" [label]="'CNPJ'" [formControlName]="'cnpj'" [isReadOnly]="isReadOnly">
                </app-input-field>
              </div>
              <div class="col-3">
                <app-input-field [type]="'text'" [label]="'Inscrição Estadual'" [formControlName]="'inscEstadual'" [isReadOnly]="isReadOnly">
                </app-input-field>
              </div>
              <div class="col-3">
                <app-input-field-date [label]="'Data Abertura'" [formControlName]="'establishmentDate'" [isReadOnly]="isReadOnly">
                </app-input-field-date>
              </div>
            </div>

            <!-- contato -->
            <div class="row"> 
              <div class="col-12"><h4 class="titulo_seccao">Dados de Contato</h4></div>      
              <div class="col-2">
                <app-input-field [type]="'text'" [mask]="'(00) 0000-0000 || (00) 00000-0000'" [label]="'Telefone'" [formControlName]="'phoneNumber'" [isReadOnly]="isReadOnly">
                </app-input-field>
              </div>
              <div class="col-2">
                <app-input-field [type]="'text'" [mask]="'(00) 00000-0000'" [label]="'Celular'" [formControlName]="'celPhoneNumber'" [isReadOnly]="isReadOnly">
                </app-input-field>
              </div>
              <div class="col-4">
                <app-input-field [type]="'text'" [label]="'email'" [formControlName]="'email'" [isReadOnly]="isReadOnly">
                </app-input-field>
              </div>
            </div>


              <!-- endereço-->
              <div class="row"> 
                <div class="col-12"><h4 class="titulo_seccao">Endereço</h4></div>     
                <div class="col-6">
                  <app-input-field [type]="'text'" [label]="'Endereço'" [formControlName]="'address'" [isReadOnly]="isReadOnly">
                  </app-input-field>
                </div>
                <div class="col-2">
                  <app-input-field [type]="'text'" [label]="'Número'" [formControlName]="'number'" [isReadOnly]="isReadOnly">
                  </app-input-field>
                </div>
                <div class="col-4">
                  <app-input-field [type]="'text'" [label]="'Complemento'" [formControlName]="'complement'" [isReadOnly]="isReadOnly">
                  </app-input-field>
                </div>
                <div class="col-4">
                  <app-input-field [type]="'text'" [label]="'Referência'" [formControlName]="'neighborhood'" [isReadOnly]="isReadOnly">
                  </app-input-field>
                </div>
                <div class="col-2">
                  <app-select-field-search  (change)="onChangeUF($event)" [itens]="states" [label]="'UF'" [formControlName]="'state'" [isReadOnly]="isReadOnly">
                  </app-select-field-search>
                </div>
                <div class="col-3">
                  <app-select-field-search  [itens]="citys" [label]="'Cidade'" [formControlName]="'idCity'" [isReadOnly]="isReadOnly">
                  </app-select-field-search>
                </div>
                <div class="col-2">
                  <app-input-field [type]="'text'" [mask]="'00.000-000'" [label]="'CEP'" [formControlName]="'cep'" [isReadOnly]="isReadOnly">
                  </app-input-field>
                </div>
              </div>  

                <!-- representante -->
                <div class="row">
                  <div class="col-12"><h4 class="titulo_seccao">Representante/Responsável</h4></div> 
                  <div class="col-6">
                    <app-input-field [type]="'text'" [label]="'Nome'" [formControlName]="'represent_name'" [isReadOnly]="isReadOnly">
                    </app-input-field>
                  </div>
                  <div class="col-3">
                    <app-input-field [type]="'text'" [mask]="'000.000.000-00'" [label]="'CPF'" [formControlName]="'represent_taxId'" [isReadOnly]="isReadOnly">
                    </app-input-field>
                  </div>
                  <div class="col-3">
                    <app-input-field-date [label]="'Nascimento'" [formControlName]="'represent_birthDate'" [isReadOnly]="isReadOnly">
                    </app-input-field-date>
                  </div>
                  <div class="col-2">
                    <app-select-field  [itens]="genders" [label]="'Sexo'" [formControlName]="'represent_gender'" [isReadOnly]="isReadOnly">
                    </app-select-field>
                  </div>
                  <div class="col-2">
                    <app-select-field  [itens]="marital_status" [label]="'Estado Cível'" [formControlName]="'represent_marital_status'" [isReadOnly]="isReadOnly">
                    </app-select-field>
                  </div>
                  <div class="col-2">
                    <app-select-field-search  [itens]="states" [label]="'UF Nascimento'" [formControlName]="'represent_nationality_state'" [isReadOnly]="isReadOnly">
                    </app-select-field-search>
                  </div>
                  <div class="col-2">
                    <app-input-field [type]="'text'" [mask]="'(00) 00000-0000'" [label]="'Celular'" [formControlName]="'represent_phoneNumber'" [isReadOnly]="isReadOnly">
                    </app-input-field>
                  </div>
                  <div class="col-4">
                    <app-input-field [type]="'text'" [label]="'Email'" [formControlName]="'represent_email'" [isReadOnly]="isReadOnly">
                    </app-input-field>
                  </div>

                  </div>

                  <div class="row">
                    <div class="col-3">
                      <app-input-field [type]="'text'" [label]="'Nº Documento (RG, CNH, etc)'" [formControlName]="'represent_document_number'" [isReadOnly]="isReadOnly">
                      </app-input-field>
                    </div>
                    <div class="col-3">
                      <app-input-field [type]="'text'" [label]="'Emissor'" [formControlName]="'represent_orgao_emissor'" [isReadOnly]="isReadOnly">
                      </app-input-field>
                    </div>
                    
                    <div class="col-2">
                      <app-select-field-search  [itens]="states" [label]="'UF Emissor'" [formControlName]="'represent_document_state'" [isReadOnly]="isReadOnly">
                      </app-select-field-search>
                    </div>
                    <div class="col-3">
                      <app-input-field-date [label]="'Data Emissão'" [formControlName]="'represent_issuance_date'" [isReadOnly]="isReadOnly">
                      </app-input-field-date>
                    </div>
                  </div>

                  <!-- endereço do representante-->
                  <div class="row"> 
                    <div class="col-12"><h4 class="titulo_seccao">Endereço</h4></div>     
                    <div class="col-6">
                      <app-input-field [type]="'text'" [label]="'Endereço'" [formControlName]="'represent_address'" [isReadOnly]="isReadOnly">
                      </app-input-field>
                    </div>
                    <div class="col-2">
                      <app-input-field [type]="'text'" [label]="'Número'" [formControlName]="'represent_number'" [isReadOnly]="isReadOnly">
                      </app-input-field>
                    </div>
                    <div class="col-4">
                      <app-input-field [type]="'text'" [label]="'Complemento'" [formControlName]="'represent_complement'" [isReadOnly]="isReadOnly">
                      </app-input-field>
                    </div>
                    <div class="col-4">
                      <app-input-field [type]="'text'" [label]="'Referência'" [formControlName]="'represent_neighborhood'" [isReadOnly]="isReadOnly">
                      </app-input-field>
                    </div>
                    <div class="col-2">
                      <app-select-field-search  (change)="onChangeRepresentUF($event)" [itens]="states" [label]="'UF'" [formControlName]="'represent_state'" [isReadOnly]="isReadOnly">
                      </app-select-field-search>
                    </div>
                    <div class="col-3">
                      <app-select-field-search  [itens]="represent_citys" [label]="'Cidade'" [formControlName]="'represent_idCity'" [isReadOnly]="isReadOnly">
                      </app-select-field-search>
                    </div>
                    <div class="col-2">
                      <app-input-field [type]="'text'" [mask]="'00.000-000'" [label]="'CEP'" [formControlName]="'represent_cep'" [isReadOnly]="isReadOnly">
                      </app-input-field>
                    </div>
                  </div>     
        
  
              
            <div class="row">
              <div class="col colDev">
                <!-- add  [disabled]="resourceForm.invalid" -->
                <button  type="submit" 
                  class="btn btn-success btnDev bg-teal btn-md mt-3">Confirmar</button>
  
                <!--
                <button type="button" [disabled]="resourceForm.invalid" (click)="alterarDados()"
                  style="background-color: rgb(255, 180, 40); color: white;" class="btn  btn-md mt-3">Alterar</button>
                -->
                </div>
            </div>
  
          </div>
        </div>
  
      </form>
    </div>
  
  