<div class="row">
    <div class="col">

    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor Peça</th>
                    <th scope="col">Valor Pintura</th>
                    <th scope="col">Valor Subistituição</th>
                    <th scope="col">Valor Reparo</th>
                    <th scope="col">Valor Total</th>
                </tr>
            </thead>
            <tbody *ngFor="let peca of pecasSelecionadas; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{ peca.codigo }}</td>
                    <td>{{ peca.descricao }}</td>
                    <td>{{ peca.precoPeca | currency: 'BRL' }}</td>
                    <td>{{ peca.totalPintura | currency: 'BRL' }}</td>
                    <td>{{ peca.totalSubistituicao | currency: 'BRL' }}</td>
                    <td>{{ peca.totalReparo | currency: 'BRL' }}</td>
                    <td>{{ peca.total | currency: 'BRL' }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7"></td>
                    <th scope="row">{{getTotalOrcamento() | currency: 'BRL' }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col aling text-end">
        <button class="btn btn-success">Confirma</button>
    </div>
</div>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>