<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Peças Selecionadas</h4>

      <span class="badge {{colorsTbFipe()}} py-2">Tabela Fipe: {{  getTabela() | currency: "BRL" }}</span>

      <div class="d-flex divcicle align-items-center">
        <circle-progress
          [percent]="getPorcentagem()"
          [radius]="45"
          [outerStrokeWidth]="4"
          [innerStrokeWidth]="6"
          [outerStrokeColor]="'#0B5ED7'"
          [innerStrokeColor]="'#000000'"
          [animation]="true"
          [animationDuration]="300"
          [renderOnClick]="false"
        ></circle-progress>

        <div>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let peca of pecas; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ peca.codigo }}</td>
            <td>{{ peca.descricao }}</td>
            <td>{{ peca.valorTotal | currency: "BRL" }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="removerPeca(peca)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-x-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                  />
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                (click)="editarPeca(peca)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <th scope="row">{{ getValorTotal() | currency: "BRL" }}</th>
            <th colspan="2" class="text-end"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!-- <div class="modal-body">
  </div> -->
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
  </div> -->

  <!-- <pre>
    {{ getPorcentagem() }}
  </pre> -->
</div>
