<app-sinistro [evento]="evento" [veiculo]="veiculo" ></app-sinistro>

<form [formGroup]="resourceForm">
  <div class="row mt-2">
    <div class="input-group mb-3">
      <button type="button" class="btn btn-outline-secondary" disabled><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></button>
      <input type="text" formControlName="search" class="form-control" placeholder="..." aria-label="Pesquisar por descrição">
      <button type="button" class="btn btn-outline-secondary" (click)="backStep()" [disabled]="!hasStep()">
      < Voltar</button>
      <button type="button" class="btn btn-outline-success" (click)="nextStep()" [disabled]="!hasAddPeca()">Próximo</button>
      <button type="button" class="btn btn-primary" (click)="openModalPecas()" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist"
        viewBox="0 0 16 16">
        <path
            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
            <path
            d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
          </svg> Peças <span class="badge bg-danger">{{getQtdPecasAdd()}}</span>
        </button>
      </div>
    </div>

  </form>

<bread-crumb [items]="pathChoosePiece"></bread-crumb>
<app-spinner [showSpinner] ="showSpinner"></app-spinner>

<div class="row">
  <div [ngSwitch]="getStepCurrent()">

    <div *ngSwitchCase="'0'">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let item of getGrupoPecas() | filterGrupo: getTextSearch() ">
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <img src="{{item.link}}" class="text-center" width="50%" alt="...">
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-outline-primary" (click)="selecionaGrupoPeca(item)">
                  <small>{{item.descricaoGrupo}}</small>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'1'">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let item of getSubGrupoPecas() | filterSubGrupo: getTextSearch()">
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <img src="{{item.link}}" class="text-center" width="50%" alt="...">
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-outline-primary" (click)="selecionaSubGrupoPeca(item)">
                  <small>{{item.descricaoSubGrupo}}</small>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'2'">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let item of getPecas() | filterPeca: getTextSearch()">
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <img src="{{item.link}}" class="text-center" width="50%" alt="...">
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-outline-primary" (click)="selecionaPeca(item)">
                  <small>{{item.descricaoPecaCiclo}}</small>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'3'">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img src="{{pecaCicloSelecionada.link}}" class="img-responsive" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">

              <form [formGroup]="resourceFormPeca">
                <!--Identificação da peça-->
                <div class="row">
                  <div class="col col-3">
                    <app-input-field [label]="'Código'" [formControlName]="'codigo'" [isReadOnly]="true"></app-input-field>
                  </div>
                  <div class="col col-9">
                    <app-input-field [label]="'Descrição'" [formControlName]="'descricao'" [isReadOnly]="true"></app-input-field>
                  </div>
                </div>

                <div *ngIf="!selecinouTipoServico">
                  <!-- Linha descricação do tipo de serviço -->
                  <div class="row">
                    <div class="col">
                      <app-input-field [label]="'Tipo de Serviço'" [formControlName]="'descricaoTipoServicoExecutado'" [isReadOnly]="true" ></app-input-field>
                    </div>
                  </div>

                  <!-- Linha se vai ter pintura -->
                  <div class="row">
                    <div class="col">
                      <app-input-field-checkbox [label]="'Pintura'" [formControlName]="'havePain'"></app-input-field-checkbox>
                    </div>
                  </div>
  
                  <!-- Linha Tempo -->
                  <div class="row">
                    <div class="col">
                      <app-input-field-hour [label]="'Tempo Serviço'" [formControlName]="'tempoPeca'"></app-input-field-hour>
                    </div>
                    <div class="col">
                      <app-input-field-hour [label]="'Tempo Pintura'" [formControlName]="'tempoPintura'" [isReadOnly]="!hasPain()" ></app-input-field-hour>
                    </div>
                  </div>
  
                  <!-- Linha Valores -->
                  <div class="row">
                    <div class="col">
                      <app-input-field-currency [label]="'Valor Mão de Obra'" [formControlName]="'valorTotalMaoDeObra'" [isReadOnly]="true"></app-input-field-currency>
                    </div>
                    <div class="col">
                      <app-input-field-currency [label]="'Valor Peça'" [formControlName]="'precoPeca'" [isReadOnly]="true"></app-input-field-currency>
                    </div>
                  </div>
  
                  <!--Linha Total-->
                  <div class="row">
                    <div class="col">
                      <app-input-field-currency [label]="'Total Bruto'" [formControlName]="'valorTotalBruto'" [isReadOnly]="true"  ></app-input-field-currency>
                    </div>
                    <div class="col">
                      <app-input-field-currency [label]="'Total'" [formControlName]="'valorTotal'" [isReadOnly]="true"  ></app-input-field-currency>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            
            <div class="card-footer">
              <button type="button" class="btn btn-primary" (click)="adicionarPeca()" [disabled]="resourceFormPeca.invalid" >Adicionar</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'4'">
      <app-confirmacao [pecasSelecionadas]="pecas"></app-confirmacao>
    </div>

  </div>
</div>


<pre>
  {{ resourceFormPeca.value | json }}
</pre>

<!-- <pre>
  <div *ngFor="l">

  </div>
</pre> -->