<label [attr.for]="formControlName" class="control-label">{{ label }}</label>
<div class="input-group">
  <span class="input-group-text" id="addon-wrapping">R$</span>
  <input type="number" class="form-control" [id]="formControlName" [formControl]="control" [readonly]="isReadOnly">
</div>
<form-field-error [form-control]="control"></form-field-error>
