.bg-color{
    background-color: 	#e3e7eb;
};

.menu {
  width: 100%;
}
.nav {
  width: 100%;
}

.menu button {
  display: block;
  width: 100%!important;
  text-align: left;
  color: #2C75BA;
  letter-spacing: 1px;
}

li.nav-item {
  width: 100%!important;
  margin-bottom: .5em;
}
.btn-toggle-nav {
  padding-left: 1.4rem!important;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  .list-group .nav-link{
    border-bottom: 1px solid rgba(0,0,0,.125);
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-radius: 0!important;
}
  .list-group .nav-link.active{
      background: #C2D033!important;
  }

  .list-group .nav-link:not(.active):hover{
    background-color: #2f77bb42 !important;
  }
  .dropdown-toggle { outline: 0; }

  .nav-flush .nav-link {
    border-radius: 0;
  }
  .logo{
    margin: 0 auto;
    margin-top: 12px;
  }

  .btn-toggle {
    display: block;
    align-items: center;
    padding: 0.5rem .25rem 0.5rem 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: left;

  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #ecffed;
  }

  .btn-toggle::after {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    float: right !important;
    right: 0;

  }
  .btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
  }


  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }

  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;

    text-decoration: none;
  }
  .btn-toggle-nav a:not(.active):hover,
  .btn-toggle-nav a:not(.active):focus {
    background-color: #ecffed;
  }

  .menu .btn:focus{
    box-shadow: none!important;
  }

  .scrollarea {
    overflow-y: auto;
  }

  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
