
<form [formGroup]="resourceForm" (ngSubmit)="submitForm()" >

<div class="modal-header">
  Selecione o modelo do veículo
</div>
<div class="modal-body">
    <select class="form-select" aria-label="Selecionar o modelo" formControlName="idBase12Selected" >
      <option value="" disabled></option>
      <option *ngFor="let b of bases; let i = index" [ngValue]="i" >{{b.geracao}}</option>
    </select>
  </div>

  <div class="modal-footer text-center">
    <button type="submit" class="btn btn-primary">Ok</button>
  </div>

</form>