<div class="container">
  <nav  aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li *ngFor="let item of items" class="breadcrumb-item">
        {{item}}
      </li>
    </ol>
  </nav>
</div>
